{% extends 'base.html.twig' %} {% block title %}Suppression de données -
Poke-Bio {% endblock %} {% block content %}
<h1>Suppression effectuée</h1>

<a href="{{ path('order') }}" class="btn btn-success btn-block mt-3">{{}}</a>
{% endblock %}
