{% extends 'base.html.twig' %} {% block title %}Welcome to Poke-Bio{% endblock
%} {% block content %}
<div class="block-small">
  <form method="post">
    <h1>Conditions Générales de Vente de Poke-Bio</h1>

    <p><strong>Date d'entrée en vigueur :</strong> [Insérez la date]</p>

    <p>
      Bienvenue sur Poke-Bio ! Les présentes conditions générales de vente
      régissent l'utilisation de nos services. En effectuant un achat sur
      Poke-Bio, vous acceptez ces conditions.
    </p>

    <h2>1. Commandes et Paiements</h2>

    <p>
      1.1. Vous pouvez passer commande via notre plateforme en suivant les
      instructions fournies.
    </p>

    <p>
      1.2. Le paiement des produits doit être effectué au moment de la commande.
      Les modes de paiement acceptés seront spécifiés lors de la procédure
      d'achat.
    </p>

    <h2>2. Prix et Taxes</h2>

    <p>
      2.1. Les prix des produits sont indiqués sur la plateforme et peuvent être
      modifiés sans préavis.
    </p>

    <p>
      2.2. Tous les prix sont indiqués en [devise] et incluent toutes les taxes
      applicables, sauf indication contraire.
    </p>

    <h2>3. Livraison</h2>

    <p>
      3.1. Les délais de livraison sont estimés et peuvent varier en fonction de
      la destination.
    </p>

    <p>
      3.2. Les frais de livraison seront indiqués lors de la commande et
      dépendent de la destination.
    </p>

    <h2>4. Droit de Rétractation</h2>

    <p>
      4.1. Conformément à la législation en vigueur, vous avez un droit de
      rétractation dans les [indiquez le délai] jours suivant la réception des
      produits.
    </p>

    <p>
      4.2. Pour exercer ce droit, contactez notre service clientèle à [adresse
      e-mail de contact] pour obtenir des instructions de retour.
    </p>

    <h2>5. Garanties et Responsabilités</h2>

    <p>
      5.1. Nous garantissons que nos produits sont conformes à leur description
      et exempts de défauts.
    </p>

    <p>
      5.2. Notre responsabilité est limitée au montant payé pour le produit.
    </p>

    <h2>6. Modifications des Conditions</h2>

    <p>
      Poke-Bio se réserve le droit de modifier ces conditions générales de
      vente. Les modifications prendront effet dès leur publication sur la
      plateforme.
    </p>

    <h2>7. Contact</h2>

    <p>
      Si vous avez des questions ou des préoccupations concernant vos achats,
      veuillez contacter notre service clientèle à [adresse e-mail de contact].
    </p>

    <p>Merci de faire vos achats sur Poke-Bio !</p>
    <hr />
  </form>
</div>

{% endblock %}
