{% extends 'base.html.twig' %} {% block title %}Welcome to Poke-Bio{% endblock
%} {% block content %}
<div class="block-small">
  <form method="post">
    <h1>Mention Légale - Poke-Bio</h1>

    <h2>Éditeur du site :</h2>
    <p>Nom de l'entreprise : Poke-Bio</p>
    <p>Forme juridique : Sarl</p>
    <p>Adresse du siège social : 8 rue des lylas fleuris, 75000 Paris.</p>
    <p>Numéro de téléphone : 01 01 01 01 01</p>
    <p>Adresse e-mail : contact@poke-bio.com</p>
    <p>Capital social : 10.000</p>
    <p>Numéro d'immatriculation : RCS-POMK</p>
    <p>Responsable de la publication : Luc Monsieur</p>

    <h2>Hébergeur du site :</h2>
    <p>Nom de l'hébergeur : AWS</p>
    <p>Adresse : 6 Rue Faubourg 75010 Paris</p>
    <p>Numéro de téléphone : 01 54 25 65 11</p>

    <h2>Propriété intellectuelle :</h2>
    <p>
      Le site et son contenu (textes, images, vidéos, etc.) sont la propriété
      exclusive de Poke-Bio. Toute reproduction ou utilisation sans autorisation
      préalable est strictement interdite.
    </p>

    <h2>Collecte de données personnelles :</h2>
    <p>
      Poke-Bio collecte des données personnelles dans le respect des lois en
      vigueur. Pour en savoir plus sur notre politique de confidentialité,
      veuillez consulter notre page dédiée à la vie privée.
    </p>

    <h2>Cookies :</h2>
    <p>
      Le site utilise des cookies pour améliorer l'expérience de l'utilisateur.
      En continuant à naviguer sur ce site, vous acceptez l'utilisation de
      cookies conformément à notre politique en la matière.
    </p>

    <h2>Liens externes :</h2>
    <p>
      Le site peut contenir des liens vers des sites externes. Poke-Bio décline
      toute responsabilité quant au contenu de ces sites.
    </p>

    <h2>Contact :</h2>
    <p>
      Pour toute question ou demande, vous pouvez nous contacter à l'adresse
      e-mail suivante : [insérer l'adresse e-mail de contact].
    </p>

    <p>
      Merci de prendre connaissance de cette mention légale avant d'utiliser
      notre site.
    </p>
    <hr />
  </form>
</div>

{% endblock %}
