{% extends 'base.html.twig' %} {% block title %}Welcome to Poke-Bio{% endblock
%} {% block content %}
<div class="block-small">
  <form method="post">
    <h1>Nous sommes ODENS - Agence Web</h1>

    <p>ODENS est une agence web composée d’une équipe de 6 personnes :</p>

    <ul>
      <li>2 développeurs</li>
      <li>1 designer</li>
      <li>1 chef de projet</li>
      <li>1 responsable marketing digital</li>
    </ul>

    <p>
      ODENS a été créée en 2023 après la rencontre des fondateurs Aya, Océany,
      Romane, Jules, Valentin et Sara pendant leurs études de marketing. Portés
      par une vision claire de l’impact que la communication peut avoir sur une
      entreprise, nos fondateurs voulaient apporter une expertise et une
      stratégie personnalisée, selon les valeurs de chaque entreprise.
    </p>

    <p>
      ODENS s’engage envers ses collaborateurs pour l’excellence stratégique qui
      se reflète dans nos méthodes de travail.
    </p>

    <footer>
      <p>Contactez-nous : contact@poke-bio.com</p>
    </footer>
    <hr />
  </form>
</div>

{% endblock %}
